/*  CCDFCB   CAE4DB  7A9D96  DCAE1D  00303F  */
/* EEE2DC  EDC7B7 BAB2B5 123C69  AC3B61 */
html{
  background-color: #CAE4DB;
}
.app-heading{
  text-align: center;
  background-color:#DCAE1D;
  color: #00303F;
  margin-top: 0px;
  margin-bottom: 40px;
  height: 50px;
  padding-top: 20px;
}
.app {
 display:flex;
 height:100%;
}
.app-child-left{
    width: 30%;
    height:100%;
    padding: 0px 60px 10px 30px;
}
.app-child-right{
    width: 70%;
}
.list-heading{
 text-align: center;
 margin-bottom: 50px;
 color: #DCAE1D;
}
.todo-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding:10px 10px 10px 10px;
  background-color: #7A9D96;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #00303F;
  border-left: 10px solid #DCAE1D;
  width: 90%;
  opacity: 100%;
}
.todo-row label{
  flex-grow: 2;
  margin-left: 20px;
  margin-right: 20px;
}
.todo-row img{
  cursor: pointer;
}
.todo-date{
  color: #00303F;
  display: flex;
  align-items: center;
  width: 92%;
}
.todo-date::after{
  content: '';
  flex: 1;
  margin-left: 10px;
  height: 1px;
  background-color: #7A9D96;
}
.row-right-items{
  margin-right: 10px;
}
.display-vertical{
  display: flex;
  flex-direction: column;
}
.display-horizontal{
  display: flex;
  flex-direction: row;
}
.add-detail{
  margin-bottom: 20px;
}
.add-detail h3{
  margin-top: 0px;
  margin-bottom: 50px;
  color: #DCAE1D;
  text-align: center;
}
.add-detail p{
  margin: 5px 0px 0px 0px;
  color: rgb(216, 0, 0);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
input{
  margin-top:5px;
  height:35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border: 0px solid;
  border-radius: 5px;
  padding-left: 10px;
}
label{
  color:#00303F;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.add-todo-btn{
  margin-top:10px;
  height:40px;
  color: white;
  font-size: 16px;
  border:0px solid;
  border-radius: 4px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color:#7A9D96;
  font-family: 'Open Sans', sans-serif;
}
.add-todo-btn:hover{
  background-color:rgb(98, 136, 128);
  cursor: pointer;
}
.no-tasks-cont{
  text-align: center;
  color: #7A9D96;
}
.search-cont{
  border-bottom: 1px solid #123C69;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  height: 70px;
}
.search-child{
  margin-right: 30px;
  margin-bottom: 10px;
}
.search-child input {
  margin-left: 20px;
  width: 200px;
  height: 30px;
  padding-left: 10px;
}
.search-child select {
  width: 150px;
  height:30px;
  margin-left: 10px;
  border:0px solid;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.search-child button {
  height:30px;
  font-size: 14px;
  color: #ffffff;
  border:0px solid ;
  border-radius: 4px;
  text-align: center;
  background-color:#7A9D96;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}
.search-child button:hover{
  background-color:rgb(98, 136, 128);
  cursor: pointer;
}



